body,html {
	height: 100%;
}

.main {
	background-image: linear-gradient(
              rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)
          ),url("./images/acglalogo.png");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
  color: white;
  text-align: center;
}

p {
  text-align: center;
  color: white;
}

